@import "../../variables";
.manage {
  width: 680px;
  margin: 0 auto;

  &__title {
    font-size: 77px;
  }
  &__wrapper {
    display: flex;
  }

  &__hr {
    background: rgb(52, 52, 52);
    height: 1px;
    width: 680px;
    margin-bottom: 30px;
  }
  &__save {
    &-button {
      background: white;
      border: none;
      width: 131px;
      height: 52px;
      font-size: 22px;
      font-weight: 400;
      font-family: $roboto;
      cursor: pointer;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
  &__name {
    width: 500px;
    height: 50px;

    background: #161d2f;
    border: none;
    color: white;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.3vw;
    height: 2em;
    margin: 0 0.8em 0 0;
    padding: 0.2em 0.6em;
    text-indent: 0.1vw;
    width: 18em;
    margin-left: 30px;
  }
  &__icon {
    position: relative;
    display: inline-block;
  }
  &__icon img {
    width: 153px;
    height: 153px;
    border-radius: 4px;
  }
  &__avatars {
    &-wrapper {
      display: flex;
      gap: 40px;
      cursor: pointer;
    }
    &-title {
      font-size: 25px;
    }
    &-avatar {
      width: 200px;
      height: 200px;
    }
  }
  &__avatar {
    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &-user {
      img {
        border-radius: 4px;
      }
      span {
        font-size: 35px;
      }
      display: flex;
      align-items: center;
      gap: 15px;
    }
    &-back {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
    &-file {
      width: 93%;
      margin: 0 auto;
    }

    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        width: 99%;

        background: #161d2f;
        border: none;
        color: white;
        box-sizing: border-box;
        color: #fff;
        font-size: 1.3vw;
        height: 2em;
        margin: 0 0.8em 0 0;
        padding: 0.2em 0.6em;
        text-indent: 0.1vw;

        margin-left: 25px;
      }
      margin-bottom: 40px;
    }
  }
}
.avatar__icon-circle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.avatar-edit-icon {
  color: white;
  font-size: 15px;
}
