.burger__list-name {
  display: none;
}
.active {
  display: block;
}
.green {
  color: green;
  display: block;
}

.red {
  color: red;
  display: none;
}
.burger__list-link:hover svg {
  transform: scale(1.3);
}
.sign__wrapper {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  &-item {
    border: none;
    background-color: rgb(17, 19, 31);
    color: white;
    width: 120px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
  }
}
