.burger__list-name {
  display: none;
}
.active {
  display: block;
}
.green {
  color: green;
  display: block;
}

.red {
  color: red;
  display: none;
}
.burger__list-link:hover svg {
  transform: scale(1.3);
}
