.popular__components-wrapper {
  display: flex;
  flex-direction: row;
}
.popular__btn-wrapper {
  display: flex;
  justify-content: space-between;
}
.search__wrapper .search {
  margin-top: 10px !important;
}
