.search {
  position: absolute;
  right: 0;
  background: #161d2f;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-right: 50px;
  border-radius: 99px;
  display: flex;
  margin-top: -40px;
  &__results {
    position: absolute;
    z-index: 1000;
    background-color: #161d2f;
  }
  &__icon {
    color: white;
    font-size: 20px;
    margin-top: 12px;
    margin-left: -20px;
  }
  input {
    background: none;
    border: none;
    margin-top: 15px;
    border-radius: 99px;
    color: white;
    margin-left: 10px;
    outline: none;
    ::placeholder {
      color: white;
    }
  }
  button {
    background: none;
    border: none;
  }
}
@media (max-width: 600px) {
  .search {
    position: relative;
    margin-top: 20px;
    margin-right: 0px;
    width: 220px;
  }
}
