.trending {
  margin-top: 50px;
  padding-left: 30px;
  padding-bottom: 20px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__play {
    &-icon {
      margin-left: 10px;
    }
  }
  &__title {
    font-size: 24px;
    color: white;
  }

  &__more {
    margin-top: 70px;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 500;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  &__slider {
    .slick-prev,
    .slick-next {
      z-index: 1;
    }

    .slick-prev:before,
    .slick-next:before {
      font-size: 30px;
      color: white;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__info {
    color: white;
    font-size: 18px;
    cursor: pointer;
  }

  &__bookmark {
    cursor: pointer;
  }

  &__movie-title {
    font-size: 16px;
    color: white;
    margin: 10px 0;
  }

  &__movie-thumbnail-container {
    position: relative;
    cursor: pointer;
  }

  &__movie-thumbnail {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  &__movie-thumbnail-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 8px;

    &:hover {
      opacity: 1;
    }
  }

  &__movie-thumbnail-overlay-text {
    color: white;
    font-size: 18px;
  }

  &__movie-thumbnail-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__movie-thumbnail-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__movie-thumbnail-dot {
    margin: 0 5px;
    color: white;
  }

  &__movie-thumbnail-svg {
    display: flex;
  }

  &__movie-thumbnail-type {
    color: white;
  }

  &__movie-thumbnail-overlay-name {
    font-size: 16px;
    color: white;
  }
}
.trending__movie-thumbnail {
  width: 100%;
  max-width: 343px;
  height: auto;
}

.trending__btn-wrapper {
  margin-top: 53px;
  display: none;
}
.welcome__message {
  display: flex;
}
@media (max-width: 600px) {
  .wrapper {
    display: flex;

    flex-direction: column;
    align-items: center;
  }
}
