.trending {
  &__title {
    color: white;
  }
  &__movie {
    &-title {
      color: white;
    }
    &-year {
      color: white;
    }
    &-frame {
      width: 342px;
      height: 269px;
      border-radius: 10px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__more {
    color: white;
    font-size: large;
    cursor: pointer;
  }
}
.custom-next-arrow {
  width: 20px;
  height: 20px;
  background-color: white;
}
.custom-prev-arrow {
  width: 20px;
  height: 20px;
  background-color: white;
}
.slick-slider {
  margin-left: 15px;
}

.trending__slider {
  position: relative;

  .custom-next-arrow,
  .custom-prev-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }

  .custom-prev-arrow {
    left: -12px;
  }

  .custom-next-arrow {
    right: 10px;
  }
}
.trending {
  &__movie-thumbnail {
    width: 342px;
    height: auto; // Поддержание пропорций
    object-fit: cover; // Обрезка изображения под контейнер
    border-radius: 10px;
    cursor: pointer;
  }
}
