.comments {
  display: flex;
  justify-content: center;
  position: relative;
  &__body {
    padding-top: 15px;
    width: 500px;
    height: 515px;
    background-color: rgb(22, 29, 48);
    border-radius: 20px;
    margin-top: 60px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__confirmation {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 300px;
    height: 150px;
    background-color: rgb(22, 29, 48);
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    &-text {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    &-btn {
      width: 100px;
      height: 40px;
      margin-left: 30px;
      cursor: pointer;
      background-color: rgb(17, 20, 30);
      border: none;
      color: white;
      text-transform: uppercase;
    }
  }
  &__list {
    &-item {
      position: relative;
    }
  }
  &__icon {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    button {
      padding: 10px 15px;
      background: rgb(22, 29, 48);
      border: none;
      color: white;
      border-radius: 999px;
      cursor: pointer;
      margin-left: 35px;
    }
  }
  &__count {
    margin-top: 10px;
  }
  &__title {
    margin-left: 40px;
    margin-top: 16px;
    font-weight: 700;
    font-size: 20px;
  }
  &__user {
    &-avatar img {
      width: 30px;
      height: 30px;
    }
  }
  &__info {
    &-img {
      width: 350px;
      height: 530px;
      border-radius: 20px;
      margin: 40px;
      margin-top: 20px;
    }
  }
  &__list {
    &-item {
      display: block;
      background-color: rgb(17, 20, 30);
      border-radius: 20px;
      padding: 10px;
      color: white;
      word-wrap: break-word;
      max-width: 90%;
      min-width: 100px;
      min-height: 50px;
      box-sizing: border-box;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__user {
    &-wrapper {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
    }
  }
  &__count {
    margin-left: 30px;
  }

  &__input input {
    display: block;

    border-radius: 20px;
    padding: 10px;
    color: white;
    word-wrap: break-word;
    max-width: 90%;
    min-width: 100px;
    min-height: 50px;
    width: 400px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: rgb(22, 29, 48);
    border: none;
  }
  &__btn button {
    display: flex;
    justify-content: center;
  }
}
.active {
  width: 300px;
  height: 150px;
  opacity: 1;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: rgb(22, 29, 48);
}
